body
 {
    margin: 0;
    background-color:rgb(26, 25, 25);
    color: white;
 }


#navbar
 {
   display: flex;
   background-color: rgb(31, 30, 30);
 }


 #navbar h1
 {
margin: 15px;
 }


 #navbar ul
{
   display: flex;
   gap: 25px;
   list-style: none;
   padding: 20px;
   margin-left: auto;
}


 a 
 {
    color: white;
 }


 #maincontainer
 {
     display: flex;
     
     padding-top: 50px;
     margin: 50;
     width: 100%;
 }


 #main h2
 {
   font-size: 100px;
   margin-left: 450px;
 }


 #main h3
 {
   margin-top: 450px;
   margin-left: 140px;
   font-size: 60px;

 }
 
 #main h4
 {
   font-size: 40px;
   margin-top: 120px;
   margin-left: 100px;
 }

 #main .welcome
{
   margin-left: 420px;
   font-size: 30px;
   margin-top: -400px;
   width: 700px;
   
}

.left-image
{
   width: 500px;
   margin-left: -110px;
   margin-top: -490px;
   
}

.right-image
{
   width: 500px;
   margin-left: 620px;
   margin-top: -400px;
}

#main .AboutMe
{
   margin-left: 80px;
   width: 900px;
   font-size: 23px;
   display: black;
   padding: 0;
}

#main .achievement
{
   width: 600px;
   font-size: 25px;
   margin-left: -50px;
}

#main footer
{
   padding: 20px;
   display: flex;
   background-color: rgb(43, 43, 41);
   margin-top: 100px;
   margin-left: -100px;
   margin-bottom: -100px;
}

.instagram
{
   width: 80px;
   margin-top:30px;
   padding: 10px;
}
.tiktok
{
   width: 80px;
   margin-top: 30px;
   padding: 10px;
}
.linkedin
{
   width: 80px;
   margin-top: 30px;
   padding: 10px;
}
.Github
{
   width: 150px;
   margin-top: 30px;
   padding: 10px;
}
.date
{
   text-align: right;
   margin-left: 600px;
   font-size: 20px;
   margin-top: 90px;
}
#main h5
{
   margin-left: 20px;
   font-size: 85px;
   margin-top: 0px;
}
.skills
{
   width: 650px;
   margin-top: -80px;
   font-size: 18px;
}
.baseball
{
   width: 550px;
   margin-left: 605px;
   margin-top: -200px;
}
#main h6
{
   font-size: 40px;
   margin-left: 80px;
   margin-top: 70px;
}
.tournament
{
   font-size: 18px;
   margin-top: -80px;
   margin-left: 20px;
}
#main h1
{
   font-size: 40px;
   margin-top: -230px;
   margin-left: 700px;
}
.teamwork
{
   font-size: 18px;
   margin-left: 650px;
}
.work
{
   font-size: 80px;
   margin-top: -80px;
   white-space: nowrap;
   margin-left: -50px;
}
#maincontainer
{
   padding: 100px;
}
.mywork
{
   display: flex;
   gap: 60px;
   margin-top: 100px;
   margin-left: -580px;
   
}
.mywork p
{
   font-size: 23px;
   margin-top: 80px;
   width: 600px;
}
.mywork img
{
   width: 430px;
   height: 350px;
   flex-shrink: 0;
}
.beer
{
   display: flex;
   gap: 470px;
   margin-top: 240px;
   margin-left: -400px;
}
.beer p
{
  font-size: 23px;
  margin-top: 380px;
  margin-left: -650px;
  width: 620px;
}
.beer img
{
    width: 400px;
    height: 380px;
   flex-shrink: 0;
}
.pokies 
{
   display: flex;
   gap: 50px;
   margin-top: 480px;
   margin-left: -550px;
}
.pokies p
{
  font-size: 23px;
  margin-top: 580px;
  width: 600px;
  margin-left:50px;
}
.pokies img
{
    width: 430px;
    height: 380px;
    flex-shrink: 0;
}
.gym-pic
{
   width:600px;
   height: 350px;
   margin-left: 10px;
}
.gym
{
   font-size: 80px;
   margin: 0 0 10px 0;
   margin-left: 10px;
}
.GYM
{
  font-size: 40px;
  margin-top: -1px;
  margin-left: 10px;
}
.reason
{
   font-size: 23px;
   padding: 10px;
}
.meal-pic
{
   width:600px;
   height: 350px;
   margin-left: 10px;
}
.MEAL
{
   font-size: 40px;
   margin-top: -1px;
   margin-left: 10px;
}
.meal2
{
   font-size: 23px;
   padding: 10px;
   margin-top: -20px;
}
.Contact-header
{
   font-size: 80px;
   margin-top: -5px;
}
#contactform input
{
   width: 650px;
}
#contactform textarea
{
   width: 650px;
}
#contactform
{
   margin-left: 600px;
}
#contactform button
{
   width: 130px;
   height: 30px;
   background-color: rgb(138, 133, 133);
}
